<header>
  <nav>
    <a href='#'>Yazılarım</a>
    <a href='#'>Son Paylaşımım</a>
    <a href='#'>Hakkımda</a>
    <a href='#'>İletişim</a>
  </nav>
  <div>
    <i class='fa fa-cogs' aria-hidden='true'></i>
  </div>
</header>